<form *ngIf="checkBox">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{email}}">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" [(ngModel)] ="password" name="password" class="form-control" id="exampleInputPassword1">
    <p>{{password_text}}</p>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitAlert('Your form is Submitted sucessfully with \n email : '+ email +'\n Password:' + password )">Submit</button>

</form>
  <div class="mb-3 form-check" (click)="displayOnUncheck()">
    <input type="checkbox"  class="form-check-input"  id="exampleCheck1 ">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
 

<p> Email you enter is {{email}}</p>

<div class="division">
  <div>
  <div class="div-1">
    <p>This is division 1</p>
  </div>

  <button class="btn-red">Red</button>


  <button class="btn-blue">Blue</button>

  </div>
  <div>
  <div class="div-2">
    <p>This is division 2</p>
  </div>
  <button class="toggle">Toggle</button>
  </div>
  <div>
  <div class="div-3">
    <p>This is division 3</p>
  </div>
  <div class="number">

  <input type="text" name="" value="num1" id="">
  <input type="text" name="" id="" value="num2">
</div>
 </div>
 <div>
  <div class="div-4">
    <p>This is division 4</p>
  </div>
  <div>
  <input type="checkbox" name="" id="" class="checkbox">
  <select name="" id="">Country
    <option value="nepal">NEPAL</option>
    <option value="india">INDIA</option>
    <option value="UK">UK</option>
    <option value="USA">USA</option>
    <option value="japan">JAPAN</option>
  </select>
</div>
</div>

</div>
