<form *ngIf="checkBox">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{email}}">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" [(ngModel)] ="password" name="password" class="form-control" id="exampleInputPassword1">
    <p>{{password_text}}</p>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitAlert('Your form is Submitted sucessfully with \n email : '+ email +'\n Password:' + password )">Submit</button>

</form>
  <div class="mb-3 form-check" (click)="displayOnUncheck()">
    <input type="checkbox"  class="form-check-input"  id="exampleCheck1 ">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
 

<p> Email you enter is {{email}}</p>

<div class="division">
  <div>
  <div class="div-1" [ngClass]="bgdiv1color">
    <p>This is division 1</p>
  </div>

  <button class="btn-red" (click)="changebgcolorRed()">Red</button>


  <button class="btn-blue" (click)="changebgcolourBlue()">Blue</button>

  </div>
  <div>
  <div class="div-2" [ngClass]="isDiv2Active == true ? 'bg-success' :'bg-warning' ">
    <p>This is division 2</p>
  </div>
  <button class="toggle" (click)="toggle()">Toggle</button>
  </div>
  <div>
  <div class="div-3" [ngClass]="num1 == num2 ? 'bg-primary':'bg-danger'">
    <p>This is division 3</p>
  </div>
  <div class="number">

  <input type="text" [(ngModel)]="num1" name="num1" placeholder="num1" id="">
  <input type="text" [(ngModel)]="num2" name="num2" id="" placeholder="num2">
</div>
 </div>
 <div>
  <div class="div-4" [ngClass]="check == true? 'bg-primary':''">
    <p>This is division 4</p>
  </div>
  <div class="checkbox" (click)="displayOncheck1()">
  <input type="checkbox" name="" id="" class="check">
  <select name="" id="">Country
    <option value="nepal">NEPAL</option>
    <option value="india">INDIA</option>
    <option value="UK">UK</option>
    <option value="USA">USA</option>
    <option value="japan">JAPAN</option>
  </select>
</div>
</div>

</div>
