
<div *ngIf="isVisible">
    <table>
        <tr>
            <th>Sno</th>
            <th>Course Name</th>
            <th>Course Duration</th>
            <th>Course Price</th>
            <th>Status</th>
            <th>Total Students</th>
           
            
        </tr>
        <tr *ngFor="let course of courseList;let Sno =index">
            <td>{{Sno+1}}</td>
            <td>{{course.CourseName}}</td>
            <td>{{course.CourseDuration}}</td>
            <td>{{course.Price}}</td>
            <td [ngStyle]="{'background-color':course.status?'green':'yellow'}">
                <!-- <span *ngIf="course.status">Active</span>
                <span *ngIf="!course.status">Deactive</span> -->
                <span >{{course.status ? 'Active':'Deactive'}}</span>
                </td>
            <td >
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':course.Totalstudents + '%'}">
                     
                    </div>
                  </div>
                   {{course.Totalstudents}}
            </td>

        </tr>
    </table> 
    </div>
<div  class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button" (click)="enableDisable()">Show&Hide</button>
  
  </div>